<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Media Item Not Found</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/Favicon.png" />
  </head>
  <body>
    <h1>Media item not found</h1>
    <p>Sorry, we couldn’t find the media you were looking for.</p>
    <p><strong>**Please be sure you are signed-in!**</strong></p>
    <form action="/" method="GET">
      <button type="submit" class="back-button">Back to Home</button>
    </form>

    <form action="/auth/sign-in" method="GET">
      <button type="submit" class="back-button">Go to Sign In</button>
    </form>
  </body>
</html>
